#{extends 'main.jqm.html' /}

<div data-role="header" data-theme="${jqmtema}">

    <a href="@{Cargos.index}" data-icon="back" data-role="button" data-direction="reverse" data-transition="slide">Voltar</a>
    <h1>Cargo</h1>
    <a href="@{Cargos.form(cargo.id)}"  data-transition="flip" data-theme="${jqmtema}" data-role="button" data-icon="search">Editar</a>
</div>   
<div data-role="content">
    <div class="content-primary">
        <ul data-role="listview" data-inset="true" data-divider-theme="${jqmtema}">
            <li data-role="list-divider">Informações de Cargo</li>
            <li>Nome: <span style="font-weight:normal">${cargo.nome}</span></li>

        </ul>
        <fieldset>
            <a href="@{Application.excluir()}?&url=@{Cargos.delete(cargo.id)}" data-rel="dialog" data-transition="slidedown" data-theme="${jqmtema}" data-role="button">Delete</a>
        </fieldset>
    </div><!--/content-primary -->	
</div>



