#{extends 'main.jqm.html' /}

<div style="float:left;overflow: auto;width:300px">

    <div data-role="header" data-theme="${jqmtema}" data-position="fixed">
        <a href="@{Application.menu}" data-icon="home" data-role="button" data-transition="fade" rel="external" target="_parent">Menu</a>
        <h1>Projetos</h1>
        <a href="#" onclick="parent.show('@{Projetos.form}')" data-icon="plus" data-role="button" rel="external" target="_parent">Novo</a>
    </div>

    <div data-role="content">
        <div class="content-primary">	
            <ul data-role="listview" data-filter="true">
                #{list items:projetos, as:'p'}
                <li>
                    <a href="#" onclick="parent.show('@{Projetos.view(p.id)}')">
                        <h3>${p.nome}</h3>
                        <p>${p.descricao}</p>
                        <p><strong>Datas: </strong>${p.data_inicio?.format('dd/MM/yyyy')} até ${p.data_fim?.format('dd/MM/yyyy')}</p>
                    </a>
                </li>
                #{/list}

            </ul>
        </div>
    </div>

</div>
