#{extends 'main.jqm.html' /}

<div data-role="header" data-theme="${jqmtema}" data-position="fixed">

    <a href="@{Analistas.index}" onclick="$.mobile.showPageLoadingMsg();" data-icon="back" data-role="button" data-direction="reverse" data-transition="slide">Voltar</a>
    <h1>Analista</h1>
    <a href="@{Analistas.form(analista.id)}" onclick="$.mobile.showPageLoadingMsg();" data-transition="flip" data-theme="${jqmtema}" data-role="button" data-icon="search">Editar</a>
</div>   
<div data-role="content">
    <div class="content-primary">
        <ul data-role="listview" data-inset="true" data-divider-theme="${jqmtema}">
            <li data-role="list-divider">Informações de Analista</li>
            <li>Nome: <span style="font-weight:normal">${analista.nome}</span></li>
            <li>Especialidade: <span style="font-weight:normal">${analista.especialidade}</span></li>
            <li>Cargo: <span style="font-weight:normal">${analista.cargo}</span></li>

        </ul>
        <fieldset>
            <a href="@{Application.excluir()}?&url=@{Analistas.delete(analista.id)}" onclick="$.mobile.showPageLoadingMsg();" data-rel="dialog" data-transition="slidedown" data-theme="${jqmtema}" data-role="button">Delete</a>
        </fieldset>
    </div><!--/content-primary -->	
</div>