#{extends 'main.jqm.html' /}

<div data-role="header" data-theme="${jqmtema}">

    <h1>${analista}</h1>
    <a href="@{Analistas.form(analista.id)}" onclick="$.mobile.showPageLoadingMsg();"  data-theme="${jqmtema}" data-role="button" data-icon="search" rel="external" target="_parent">Editar</a>
</div>   
<div data-role="content">
    <div class="content-primary">
        <ul data-role="listview" data-inset="true" data-divider-theme="${jqmtema}">
            <li data-role="list-divider">Informações de Analista</li>
            <li>Nome: <span style="font-weight:normal">${analista.nome}</span></li>
            <li>Especialidade: <span style="font-weight:normal">${analista.especialidade}</span></li>
            <li>Cargo: <span style="font-weight:normal">${analista.cargo}</span></li>

        </ul>
        <fieldset>
            <a href="@{Application.excluir()}?&url=@{Analistas.delete(analista.id)}" data-rel="dialog" data-transition="slidedown" data-theme="${jqmtema}" data-role="button">Delete</a>
        </fieldset>
    </div><!--/content-primary -->	
</div>